body
{
  margin-left: 33%;
  margin-right: 33%;
}

#queueHistoryBox
{
  float: right;
}

#participantBox
{
  float: left;
}

.nonquorum
{
  color: gray;
  font-style: italic;
}

.quorum
{
  color: black;
}

.checkYes
{
  color: green;
}

.checkNo
{
  color: red;
}